<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card m-5" style="width: 30rem; left:20rem;">
  <div class="card-body">
  <h5 class="card-title text-center">New post</h5>
  <div class="field text-center">
    <%= form.label :name %><br>
    <%= form.text_field :name, class:'form-control-sm' %>
  </div>
  <div class="field text-center">
  <%= form.label :details %><br>
  <%= form.text_area :details, class:'form-control' %>
</div>
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item">
    <div class="field">
    <%= form.label :arrive %>
    <%= form.datetime_select :arrive %>
  </div></li>
    <li class="list-group-item">
    <div class="field">
      <%= form.label :leave %>
      <%= form.datetime_select :leave %>
    </div>
    </li>
  </ul>
  <div class="card-body">
  <div class="field">
  <%= form.label :status %><br>
  <%= form.radio_button :status,'Not started' %> Not started
  <%= form.radio_button :status,'In progress' %>In progress
  <%= form.radio_button :status,'Done' %> Done
</div>
<div class="field">
    <%= form.label :priority %><br>
    <%= form.radio_button :priority,'High' %> High
    <%= form.radio_button :priority,'Medium' %>Medium
    <%= form.radio_button :priority,'Low' %> Low
  </div>
  </div>
  <div class="actions card-footer  text-center">
    <%= form.submit "create task" %>
  </div>
</div>

<% end %>
