<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div><br>
  <div class="field">
    <%= form.label :arrive %>
    <%= form.datetime_select :arrive %>
  </div><br>
  <div class="field">
    <%= form.label :leave %>
    <%= form.datetime_select :leave %>
  </div>
  <br>
  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>
  <br>
  <div class="field">
    <%= form.label :status %>
    <%= form.radio_button :status,'not started' %> Not started
    <%= form.radio_button :status,'in progress' %>In progress
    <%= form.radio_button :status,'done' %> Done
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
