<div class="">
<div class="nav-item dropdown" style="width: 10rem; left:65rem;">
<a class="nav-link fas fa-search" data-toggle="dropdown" href="#">Search</a>
<div class="dropdown-menu">
    <%= search_form_for @search do |f| %>
<%= f.label :Name_and_status, class:''%>
    <%= f.text_field :name_cont, class:'form-group rounded mx-2', placeholder:'name'%>
      <%= f.text_field :status_cont, class:'form-group rounded mx-2', placeholder:'status'%>
      <%= f.submit "search",class:'btn-dark col-sm mr-1 rounded '%>
           <%end%>
</div>
</div>
<div class="container-fluid">
<% @tasks.each do |task| %>
  <% if current_user.id == task.user.id %>
<div class="card text-center m-3 position-relative" style="width: 35rem; left:20rem;">
  <div class="card-header row m-1">
  <div class="col col-lg-5 text-monospace ">
  Status:<%= task.status %>
  </div>
  <div class="col  h4" style="left:-90px;">
   <%= task.user.name %>
   </div>
   <div class="col col-lg-4 font-italic" style="left:350px;">
  <td> priority:  <%= task.priority %>
</div>
  </div>
  <div class="card-body">
    <div class="col-md-auto h6">
    <p class="text-left"> Task Name:<%= task.name %> </p>
     </div>
    <h5 class="card-title">Detail</h5
    <p class="card-text"><%= task.details %></p>
    <%= link_to 'Show', task,class:'btn btn-outline-success btn-sm'%>
      <%= link_to 'Update', edit_task_path(task),class:'btn btn-outline-primary btn-sm' %>
       <%= link_to 'Delete', task,class:'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="card-footer text-muted">
  <b> Tokyo: </b> <%= task.created_at %>
  <b>Arrive: </b> <%= task.arrive %>
  <b>leave:</b> <%= task.leave %>
  </div>
</div>
  <%= paginate @tasks %>
    <% end %>
 <% end %>
