<h1><%= t('view.tasks') %></h1>
<p> <button><%= link_to 'New Task', new_task_path %></button>
<button><%= link_to 'sort by leave time', tasks_path(leave: "true")%></button>
<%= form_tag tasks_path, :method =>'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
  <% end %>
</p>
    <% @tasks.each do |task| %>
      <p>  <b> Name: </b> <%= task.name %><br>
 <b> Details: </b><%= task.details %> <br>
 <b>Status :</b> <%= task.status %> <br>
  <b> Tokyo time:</b> <%= task.created_at %> 
  <b>Arrive time:</b> <%= task.arrive %> 
  <b>leave time:</b> <%= task.leave %> <br>

     <%= link_to 'Show', task %>
      <%= link_to 'Update', edit_task_path(task) %>
       <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></p>
       <hr>
    <% end %>

<br>


