<div class="container-fluid">
<% @tasks.each do |task| %>
<div class="card text-center m-3 position-relative" style="width: 35rem; left:20rem;">
  <div class="card-header row m-1">
  <div class="col col-lg-5 text-monospace ">
  Status:<%= task.status %>
  </div>
  <div class="col-md-auto h4">
   <%= task.name %>
   </div>
   <div class="col col-lg-4 font-italic ">
  <td> priority:  <%= task.priority %>
</div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Detail</h5>
    <p class="card-text"><%= task.details %></p>
    <%= link_to 'Show', task,class:'btn btn-outline-success btn-sm'%>
      <%= link_to 'Update', edit_task_path(task),class:'btn btn-outline-primary btn-sm' %>
       <%= link_to 'Delete', task,class:'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="card-footer text-muted">
  <b> Tokyo: </b> <%= task.created_at %>
  <b>Arrive: </b> <%= task.arrive %> 
  <b>leave:</b> <%= task.leave %>
  </div>
</div>
<% end %>
    <%= paginate @tasks %>
</div>

