<h1><%= t('view.tasks') %></h1>
<p> <button><%= link_to 'New Task', new_task_path %></button>
<button><%= link_to 'sort by leave time',  tasks_path(leave: "true")%></button>
<button><%= link_to 'sort by high priority', tasks_path(priority: "true")%></button>
<%= search_form_for @search do |f| %>
<%= f.label :Name_or_Status%>
<%= f.text_field :name_or_status_cont%>
<%= f.submit %>
  <%end%>
</p>
    <% @tasks.each do |task| %>
      <p>  <b> Name: </b> <%= task.name %><br>
 <b> Details: </b><%= task.details %> <br>
 <b>Status: </b> <%= task.status %> <br>
 <b> priority: </b> <%= task.priority %> <br>
  <b> Tokyo time: </b> <%= task.created_at %>  
  <b>Arrive time: </b> <%= task.arrive %> 
  <b>leave time: </b> <%= task.leave %> <br>
    <%= link_to 'Show', task %>
      <%= link_to 'Update', edit_task_path(task),class:'btn btn-primary' %>
       <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></p>
       <hr>
    <% end %>
    <%= paginate @tasks %>
<br>


