<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>
<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>
<p>
  <strong>Arrive:</strong>
  <%= @task.arrive %>
</p>
<%= link_to 'Update', edit_task_path(@task) %> 
<%= link_to 'View Tasks', tasks_path %>
