<%= form_with(model: label, local: true) do |form| %>
  <% if label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
      <% label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tittle %>
    <%= form.text_field :tittle %>
  </div>
<% if logged_in? %>
  <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <%end%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
