<div class="card mx-auto" style="width:400px" >
  <div class="card-body text-center">
    <%= form_with(model: user, local: true) do |form| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <div class="card-body">
    <h4 class="card-title text-center">New user</h4>
    <div class="field text-center m-2">
      <%= form.label :name %><br>
      <%= form.text_field :name, class:'form-control ' %>
    </div>
    <div class="field text-center m-2">
      <%= form.label :email %><br>
      <%= form.text_field :email, class:'form-control' %>
    </div>
    <div class="fieldt text-center m-2">
      <%= form.label :password %><br>
      <%= form.password_field :password, class:'form-control' %>
    </div>
    <div class="field text-center m-2">
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation, class:'form-control' %>
    </div>
    <div class="actions m-4 text-center">
      <%= form.submit "Create User" %>
    </div>
    <% end %>
  </div>
</div>
