<div class="card " style="width:550px; left:25rem; top:2rem;">
<h4 class="text-center">Task by Everyleaf Co., Ltd. (For new employee)</h4>
<%= form_with(model: admin_user, local: true) do |form| %>
<div class="card-body ">
  <% if admin_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% admin_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control mb-3" %>
  </div>



  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control mb-3" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control mb-3" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class:"form-control mb-3" %>
  </div>
  <div class="field">
  <%= form.label :admin %>
    <%= form.radio_button :admin ,'true' %>
      <%= form.label :user %>
      <%= form.radio_button :admin ,'false' %>
  </div>
  <div class="actions">
    <%= form.submit "create user" , class:"form-control btn-primary" %>
  </div>
<% end %>
