<div class="text-center rounded " >
<h4 >Users list</h4>
<table class="m-10"style="width: 100%" >
  <thead  >
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Tasks_no</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody >
    <% @users.each do |user| %>
        <tr class="border-bottom">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td> <%= Task.where(user_id: user.id).count %></td>
        <td><%= link_to 'Show', admin_user_path(user), class:'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user), class:'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New User', new_admin_user_path, class:' btn btn-outline-info btn-sm mb-2' %>
</div>
